.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13rem;
  }
  
  .textbox {
    width: 60%;
    text-align: left;
  }
  
  .textbox h2 {
    margin-bottom: 1rem; /* spacing between heading & paragraph */
    font-size: 2rem;
    text-align: left;
  }
  
  .textbox p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .image {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  .about-text{
    padding-right: 40px;
  }
  .about-text p {
    margin-bottom: 20px; /* adds space after each paragraph */
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }